
.DS_Store
Thumbs.db
*.log
*.env


.gradle/
build/
captures/
.externalNativeBuild/


local.properties


.idea/
*.iml
*.hprof


*.apk
*.ap_
*.aab


*.jks
*.keystore


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
venv/
env/
*.egg-info/
*.pytest_cache/
*.ipynb_checkpoints/


*.h5
*.pt
*.pth
*.pb
*.ckpt

*.tflite
!mobile-app/assets/grocery_model.tflite


dataset/
data/
*.csv
*.tsv
*.npy
*.npz


.saved_model/
*.tfrecord


__pycache__/
*.pt
*.pth


.ipynb_checkpoints/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


build/
dist/
tmp/
