
.gradle/
build/
captures/
.externalNativeBuild/


local.properties


.idea/
*.iml
*.hprof


*.apk
*.ap_
*.aab


*.jks
*.keystore


*.log



*.tflite
!mobile-app/assets/grocery_model.tflite


.DS_Store
